<?xml version="1.0"?>
<config>
    <modules>
        <ZhenIT_Redsys>
            <version>3.5.0</version>
            <depends>
                <Mage_Paygate />
            </depends>
        </ZhenIT_Redsys>
    </modules>
    <global>
		<!-- VER PARA MULTISHIPPING-->
		<!--
		<rewrite>
			<redsys>
				<from><![CDATA[#^/checkout/multishipping/overviewPost/$#]]></from>
				<to>/redsys/multishipping_overview</to>
			</redsys>
		</rewrite>
		-->
        <models>
            <redsys>
                <class>ZhenIT_Redsys_Model</class>
                <resourceModel>redsys_mysql4</resourceModel>
            </redsys>
            <redsys_mysql4>
                <class>ZhenIT_Redsys_Model_Mysql4</class>
                <entities>
                    <api_debug>
                        <table>redsys_api_debug</table>
                    </api_debug>
                </entities>
            </redsys_mysql4>
        </models>

        <resources>
            <redsys_setup>
                <setup>
                    <module>ZhenIT_Redsys</module>
                    <class>ZhenIT_Redsys_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </redsys_setup>
            <redsys_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </redsys_write>
            <redsys_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </redsys_read>
        </resources>
        <blocks>
            <redsys>
                <class>ZhenIT_Redsys_Block</class>
            </redsys>
        </blocks>
        <helpers>
            <redsys>
                <class>ZhenIT_Redsys_Helper</class>
            </redsys>
        </helpers>
    </global>

    <frontend>
        <secure_url>
            <redsys_standard>/redsys/standard</redsys_standard>
        </secure_url>
        <routers>
            <redsys>
                <use>standard</use>
                <args>
                    <module>ZhenIT_Redsys</module>
                    <frontName>redsys</frontName>
                </args>
            </redsys>
        </routers>
        <translate>
            <modules>
                <ZhenIT_Redsys>
                    <files>
                        <default>ZhenIT_PaymentRedsys.csv</default>
                    </files>
                </ZhenIT_Redsys>
            </modules>
        </translate>
        <layout>
            <updates>
                <redsys_standard_redirect>
                    <file>redsys.xml</file>
                </redsys_standard_redirect>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <ZhenIT_Redsys>
                    <files>
                        <default>Mage_PaymentRedsys.csv</default>
                    </files>
                </ZhenIT_Redsys>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <redsys>
                                            <title>Redsys Section</title>
                                        </redsys>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <redsys_standard>
                <active>1</active>
                <allowspecific>0</allowspecific>
                <autoinvoice>O</autoinvoice>
                <paymethod>T</paymethod>
                <error_status>canceled</error_status>
				<merchantterminal>EUR:1</merchantterminal>
                <model>redsys/standard</model>
                <order_status>pending</order_status>
                <sendmailorderconfirmation>1</sendmailorderconfirmation>
                <title>Tarjeta de crédito o débito (vía Redsýs)</title>
                <transaction_type>O</transaction_type>
                <entorno>2</entorno>
                <merchantpassword>Mk9m98IfEbimPfrpsawt78mxObt98Jev</merchantpassword>
                <windowstate>2</windowstate>
            </redsys_standard>
            <redsys_iupay>
                <active>1</active>
                <paymethod>O</paymethod>
                <allowspecific>0</allowspecific>
                <model>redsys/iupay</model>
                <title>IUPAY!</title>
            </redsys_iupay>
        </payment>
    </default>
</config>
